@import "https://fonts.googleapis.com/css?family=Merriweather";
@import "https://sindresorhus.com/github-markdown-css/github-markdown.css";

body { margin: 0; font-size: 14px }

.markdown-body { max-width: 720px; margin: 0 auto 3rem auto; padding: 0 1em; }
.markdown-body h1 { text-align: center; font: 2.4rem/10rem Merriweather, serif }
.markdown-body h1 { width: 100vw; margin: 0 0 2rem calc(50% - 50vw); background-color: #F9F9F9 }
h2, h3, h4, h5, h6 { font: 1.5em/4em Merriweather, serif }
